.bb{
    background-color: #6A5ACD;
}
.wid{
    width: 500px;
}
.bb-1{
    background-color: black;
}
.ct{
  text-align: center;
}
.wf{
    color: #ddd;
}
.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}