.bb{
    background-color: darkcyan;
}
.wid{
    width: 400px;
}
.bb-1{
    background-color: #6A5ACD;
    top: 0;
    padding: 20px;
}
.ct{
  text-align: center;
}
.wf{
    color: #ddd;
}
.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.wop{
  width: 100%;
  height: 600px;
}
body{
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.d-flex-2{
    display: flex;
    flex-direction: column;
}
.wi-2{
    width: 15%;
}
.al{
  text-align: center;
}
.fz{
    font-size: 16px;
}
.ss{
    display: flex;
    justify-content: space-evenly;
}
.container{
    background-color: #777;
    width: 75px;
    height: 100px;
}
.f-size{
    font-size: 2em;
    font-weight: bold;
}
#s-image{
    border-radius: 50%;
   height: 40px;
  }
  footer{
      z-index: 2;
      background-color: #777;
      text-align: center;
      margin-bottom: 0;
  }
  .g-p-m{
      margin-top: 1%;
  }
  .c-o-p{
   color: rgba(39, 31, 31, 0.342);
  }