.bb{
    background-color: darkcyan;
}
.wid{
    width: 500px;
}
.bb-1{
    background-color: #6A5ACD;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}
.ct{
  text-align: center;
}
.wf{
    color: #ddd;
}
.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.wop{
  width: 100%;
  height: 600px;
}
body{
    margin-right: 0;
    margin-left: 0;
}
.d-flex-2{
    display: flex;
    flex-direction: column;
}